#include "rc.h"

HelpDialog DIALOGEX 0, 0, 183, 165
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Help"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,126,148,50,14
    LTEXT           "In the dir input, provide the root dir of the search",IDC_STATIC,7,8,169,19
    LTEXT           "In search input, provide the sentence to search",IDC_STATIC,7,28,169,19
    LTEXT           "Check the content checkbox if you want to search in files content",IDC_STATIC,7,48,169,19
    LTEXT           "Check the file checkbox if you want to search in file names",IDC_STATIC,7,68,169,19
    LTEXT           "Check the recursive checkbox if you want to search in subdirectories too",IDC_STATIC,7,88,169,19
    LTEXT           "Check the case sensitive checkbox if you want the search to be case sensitive",IDC_STATIC,7,108,169,19
    LTEXT           "Finally, click on the Find button and the search will start",IDC_STATIC,7,128,169,19
END

ID_MENU1 MENU
BEGIN
    POPUP "Edit"
    BEGIN
        MENUITEM "Exit",                        ID_EXIT
        MENUITEM "Find",                        ID_FIND
    END
    POPUP "Help"
    BEGIN
        MENUITEM "Open help",                   ID_HELP
    END
END